#header2-2 H1 {
  text-align: left;
  font-size: 60px;
  color: #ffffff;
}
#header2-2 P {
  color: #ffffff;
  text-align: left;
}
#content4-3 P {
  text-align: center;
}
#content4-4 P {
  text-align: center;
}
#content4-6 P {
  text-align: center;
}
#dropdown-menu-2btn-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1 .nav .link,
#dropdown-menu-2btn-1 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-1 .navbar,
#dropdown-menu-2btn-1 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1 .dropdown-menu a:hover,
#dropdown-menu-2btn-1 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-d .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-d .nav .link,
#dropdown-menu-2btn-d .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-d .navbar,
#dropdown-menu-2btn-d .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-d .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-d .dropdown-menu a:hover,
#dropdown-menu-2btn-d .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-d .navbar-toggler {
  color: #000000;
}
#content5-x .mbr-section-title {
  color: #5cb85c;
}
#content5-x DIV {
  font-size: 20px;
}
#dropdown-menu-2btn-f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-f .nav .link,
#dropdown-menu-2btn-f .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-f .navbar,
#dropdown-menu-2btn-f .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-f .dropdown-menu a:hover,
#dropdown-menu-2btn-f .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-f .navbar-toggler {
  color: #000000;
}
#header3-m SMALL {
  font-size: 20px;
  text-align: left;
}
#form1-l .mbr-section-title {
  font-size: 46px;
}
#dropdown-menu-2btn-j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-j .nav .link,
#dropdown-menu-2btn-j .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-j .navbar,
#dropdown-menu-2btn-j .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-j .dropdown-menu a:hover,
#dropdown-menu-2btn-j .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-j .navbar-toggler {
  color: #000000;
}
#msg-box3-q .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-q .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-q .mbr-section-title {
  color: #5cb85c;
}
#content4-11 P {
  font-size: 20px;
}
#content4-11 H4 {
  color: #5cb85c;
}
#dropdown-menu-2btn-n .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-n .nav .link,
#dropdown-menu-2btn-n .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-n .navbar,
#dropdown-menu-2btn-n .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-n .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-n .dropdown-menu a:hover,
#dropdown-menu-2btn-n .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-n .navbar-toggler {
  color: #000000;
}
#header3-z SMALL {
  font-size: 20px;
}
